@charset "UTF-8";
/*-- google fonts -- */
@import url("https://fonts.googleapis.com/css?family=Anton|Nunito:300,400");
/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset,
legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select, textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img, embed, iframe, object, audio, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
  text-align: left;
}

html {
  font-size: 62.5%;
}

html, body {
  height: 100%;
  min-width: 320px;
}

.preload-transitions * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

body {
  background-color: #4a4a4d;
  color: #f2f2f2;
  display: flex;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
  font-size: 17px;
  line-height: 1.6;
}

a {
  color: #ff3366;
  text-decoration: none;
}
a:hover {
  color: #ff006b;
  outline: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

hr {
  border: 0.5px solid #ff006b;
  margin-bottom: 10px;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

body::-webkit-scrollbar-thumb {
  background-color: #56565a;
  outline: 1px solid slategrey;
}

h1, h2, h3, h4, h5, h6 {
  color: #f2f2f2;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  letter-spacing: 2.77px;
  line-height: 1.25;
  margin: 4px 0 4px 0;
}

h1.accent, h2.accent, h3.accent,
h4.accent, h5.accent, h6.accent,
h2.accent-story {
  color: #f2f2f2;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1;
}

h1 {
  font-size: 3rem;
  text-shadow: 0px 3px 16px rgba(50, 50, 50, 0.75);
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.5rem;
}

h1.accent {
  font-size: 2.84rem;
  text-shadow: 0px 3px 16px rgba(50, 50, 50, 0.75);
}

h2.accent {
  font-size: 3rem;
  text-shadow: 0px 3px 16px rgba(50, 50, 50, 0.75);
}

h2.accent-story {
  font-size: 3.5rem;
  color: #252526;
  margin-bottom: 1.5rem;
}

h1::first-letter {
  color: #ff006b;
  font-size: 5rem;
}

h2.accent::first-letter {
  color: #ff006b;
  font-size: 5rem;
}

h2.accent-story::first-letter {
  color: #ff006b;
  font-size: 5rem;
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 2.4rem;
  }

  h2 {
    font-size: 2.1rem;
  }

  h3 {
    font-size: 1.9rem;
  }

  h4 {
    font-size: 1.6rem;
  }

  h5 {
    font-size: 1.3rem;
  }

  h6 {
    font-size: 1rem;
  }

  h1::first-letter {
    font-size: 4rem;
  }
}
.centered {
  margin-top: 25px;
  text-align: center;
}

strong {
  color: #ff006b;
  display: inline-block;
  font-family: "Anton", sans-serif;
  font-size: 1.7rem;
  font-weight: 400;
  letter-spacing: 1px;
}

p {
  color: #f2f2f2;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1.4;
  margin-left: 0;
  margin-right: 0;
}

.pad-left-10 {
  padding-left: 10px;
}

/* PrismJS 1.15.0
https://prismjs.com/download.html#themes=prism-okaidia&languages=markup+css+clike+javascript */
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */
code[class*=language-],
pre[class*=language-] {
  color: #f8f8f2;
  background: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 1;
  -o-tab-size: 1;
  tab-size: 1;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*=language-] {
  padding: 0.1em;
  margin: 0.1em 0;
  overflow: auto;
  border-radius: 0.3em;
}

:not(pre) > code[class*=language-],
pre[class*=language-] {
  background: #252526;
}

/* Inline code */
:not(pre) > code[class*=language-] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #f8f8f2;
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #f92672;
}

.token.boolean,
.token.number {
  color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #a6e22e;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: #e6db74;
}

.token.keyword {
  color: #66d9ef;
}

.token.regex,
.token.important {
  color: #fd971f;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}

.img-responsive-centered {
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

figure {
  margin-left: auto;
  margin-right: auto;
}

.border {
  border-radius: 4px;
}

.shadow {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.shadow-single {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5);
}

header {
  background: linear-gradient(to bottom, #313133 0%, #252526 100%);
  border-bottom: 1.5px solid #313133;
  box-shadow: 0px 3px 5px 0px rgba(37, 37, 38, 0.4);
  height: 80px;
  position: fixed;
  width: 100%;
  z-index: 5;
}

@media only screen and (max-width: 767px) {
  header {
    height: 70px;
  }
}
#logo {
  height: 80px;
  margin-top: 1.3rem;
  margin-left: 0.3em;
  width: 200px;
}

#name {
  color: #f2f2f2;
  font-family: "Anton", sans-serif;
  font-size: 1.6em;
  letter-spacing: 1px;
  text-align: left;
}

#title {
  color: #c5c5c5;
  font-family: "Nunito", sans-serif;
  font-size: 0.72em;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 0;
  margin-top: -2px;
  text-align: left;
}

.highlight {
  color: #ff3366;
  font-size: 1.3rem;
}

@media only screen and (max-width: 767px) {
  #logo {
    margin-top: 0.65rem;
  }
}
/* ============================
 Desktop: Navigation Section
=============================*/
.desktop-nav-container {
  align-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.desktop-nav-item:nth-child(1) {
  align-self: auto;
  flex: 1 1 auto;
  height: 80px;
}

.desktop-nav-item:nth-child(2) {
  align-self: auto;
  flex: 2 1 auto;
  height: 80px;
}

.desktop-nav {
  float: right;
  margin-right: 0.9rem;
  margin-top: 1.5em;
}

.top-nav {
  color: #c5c5c5;
  font-family: "Anton", sans-serif;
  font-size: 1.75rem;
  letter-spacing: 1px;
  padding-left: 40px;
  transition: 0.3s;
}

.top-nav:hover {
  color: #f2f2f2;
  cursor: pointer;
}

.active-link {
  color: #ff006b;
}

.active-link:hover {
  color: #ff006b;
}

.mobile-nav {
  display: none;
}

@media only screen and (max-width: 900px) {
  .desktop-nav {
    margin-top: 1.6em;
  }

  .top-nav {
    font-size: 1.6rem;
    padding-left: 30px;
  }

  .active-link {
    color: #ff006b;
  }
}
@media only screen and (max-width: 767px) {
  .desktop-nav {
    display: none;
  }

  .mobile-nav {
    display: inline-block;
    float: right;
  }
}
/* ===========================
  Mobile: Toggle Section
============================*/
#toggle {
  cursor: pointer;
  display: inline-block;
  margin: 0.5rem 0.5rem 0 0;
}

.bar1 {
  background: #ff4d79;
  height: 3px;
  margin: 8px 0;
  transition: 0.3s;
  width: 25px;
}

.bar2 {
  background: #ff3366;
  height: 3px;
  margin: 8px 0;
  transition: 0.3s;
  width: 30px;
}

.bar3 {
  background: #ff006b;
  height: 3px;
  margin: 8px 0;
  transition: 0.3s;
  width: 35px;
}

.ham-title {
  color: #f2f2f2;
  font-family: "Nunito", sans-serif;
  font-size: 1.35rem;
  font-weight: 300;
  letter-spacing: 1px;
  margin-top: -5px;
}

.change .bar1 {
  background: #ff006b;
  background: -moz-linear-gradient(left, #ff006b 20%, #c5c5c5 80%);
  background: -webkit-linear-gradient(left, #ff006b 20%, #c5c5c5 80%);
  background: linear-gradient(to right, #ff006b 20%, #c5c5c5 80%);
  transform: rotate(-45deg) translate(-9px, 6px);
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  width: 35px;
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  background: #c5c5c5;
  background: -moz-linear-gradient(left, #c5c5c5 20%, #ff006b 80%);
  background: -webkit-linear-gradient(left, #c5c5c5 20%, #ff006b 80%);
  background: linear-gradient(to right, #c5c5c5 20%, #ff006b 80%);
  transform: rotate(45deg) translate(-8px, -8px);
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
}

/* ===========================
  Mobile: Dropdown Section
============================*/
nav.hiddenMenu {
  background: #313133;
  background: -moz-linear-gradient(top, #313133 0%, #252526 100%);
  background: -webkit-linear-gradient(top, #313133 0%, #252526 100%);
  background: linear-gradient(to bottom, #313133 0%, #252526 100%);
  border-bottom: 1.5px solid #313133;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(37, 37, 38, 0.4);
  -moz-box-shadow: 0px 3px 5px 0px rgba(37, 37, 38, 0.4);
  box-shadow: 0px 3px 5px 0px rgba(37, 37, 38, 0.4);
  max-width: 100%;
  position: fixed;
  -webkit-transform: translateY(-400%);
  transform: translateY(-400%);
  transition-timing-function: ease-in;
  transition: 0.5s;
  z-index: 4;
}

nav.activeMenu {
  background: #313133;
  background: -moz-linear-gradient(top, #313133 0%, #252526 100%);
  background: -webkit-linear-gradient(top, #313133 0%, #252526 100%);
  background: linear-gradient(to bottom, #313133 0%, #252526 100%);
  border-bottom: 1.5px solid #313133;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(37, 37, 38, 0.4);
  -moz-box-shadow: 0px 3px 5px 0px rgba(37, 37, 38, 0.4);
  box-shadow: 0px 3px 5px 0px rgba(37, 37, 38, 0.4);
  position: fixed;
  -webkit-transform: translateY(70px);
  transform: translateY(70px);
  transition-timing-function: ease-out;
  transition: 0.5s;
  width: 100%;
  z-index: 4;
}

@media only screen and (min-width: 767px) {
  .hiddenMenu {
    display: none;
  }

  .activeMenu {
    display: none;
  }
}
.mobile-flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 15px 0 15px;
}

.mobile-flex-item:nth-child(1), .mobile-flex-item:nth-child(2),
.mobile-flex-item:nth-child(3), .mobile-flex-item:nth-child(4),
.mobile-flex-item:nth-child(5), .mobile-flex-item:nth-child(6) {
  flex-basis: auto;
  flex-grow: 1;
  height: auto;
  margin: 5px;
  padding: 5px;
  text-align: center;
  width: 90px;
}

@media only screen and (max-width: 650px) {
  .mobile-flex-item:nth-child(1), .mobile-flex-item:nth-child(2),
.mobile-flex-item:nth-child(3), .mobile-flex-item:nth-child(4),
.mobile-flex-item:nth-child(5), .mobile-flex-item:nth-child(6) {
    width: 70px;
  }
}
@media only screen and (max-width: 610px) {
  .mobile-flex-item:nth-child(1), .mobile-flex-item:nth-child(2),
.mobile-flex-item:nth-child(3), .mobile-flex-item:nth-child(4),
.mobile-flex-item:nth-child(5), .mobile-flex-item:nth-child(6) {
    width: 150px;
  }
}
@media only screen and (max-width: 510px) {
  .mobile-flex-item:nth-child(1), .mobile-flex-item:nth-child(2),
.mobile-flex-item:nth-child(3), .mobile-flex-item:nth-child(4),
.mobile-flex-item:nth-child(5), .mobile-flex-item:nth-child(6) {
    width: 120px;
  }
}
@media only screen and (max-width: 430px) {
  .mobile-flex-item:nth-child(1), .mobile-flex-item:nth-child(2),
.mobile-flex-item:nth-child(3), .mobile-flex-item:nth-child(4),
.mobile-flex-item:nth-child(5), .mobile-flex-item:nth-child(6) {
    width: 90px;
  }
}
p.white-link {
  color: #f2f2f2;
  letter-spacing: 1px;
  text-decoration: none;
  text-size: 1.1rem;
}

main {
  flex: 1 0 auto;
  padding-top: 80px;
}

@media only screen and (max-width: 767px) {
  main {
    padding-top: 70px;
  }
}
section {
  padding: 0 15px 0 15px;
  margin: 0 auto;
  max-width: 1600px;
}

article {
  border-bottom: 1px solid #ff006b;
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1092px;
  min-width: 280px;
  padding: 30px 0 30px 0;
}

.no-underline {
  border-bottom: 0 solid #ff006b;
}

.title-area {
  padding: 10px;
  width: 34%;
}

.content-area {
  padding: 10px;
  width: 66%;
}

@media only screen and (max-width: 650px) {
  .title-area {
    width: 100%;
  }

  .content-area {
    width: 100%;
  }
}
footer {
  background-color: #252526;
  flex-shrink: 0;
  margin-top: 4rem;
  padding-bottom: 1rem;
  padding-top: 3rem;
  width: 100%;
}

.flexFooter-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.flexFooter-item:nth-child(1),
.flexFooter-item:nth-child(2),
.flexFooter-item:nth-child(3),
.flexFooter-item:nth-child(4),
.flexFooter-item:nth-child(5) {
  align-self: auto;
  flex: 0 1 auto;
  margin: 0 15px 2rem 15px;
}

.flexFooter-item:nth-child(1) {
  margin-top: 4px;
}

@media only screen and (max-width: 750px) {
  .flexFooter-item:nth-child(5) {
    margin: 15px 13px 2rem 13px;
  }
}
@media only screen and (max-width: 426px) {
  .flexFooter-item:nth-child(4) {
    margin: 15px 13px 3rem 13px;
  }
}
.footer-title {
  color: #e5e5e5;
  font-family: "Nunito", sans-serif;
  font-size: 2.2rem;
  letter-spacing: 2.77px;
  line-height: 0.9;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  text-align: left;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.footer-menu, .footer-menu-active {
  display: block;
  font-family: "Anton", sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  padding-bottom: 0.4rem;
  padding-top: 0.4rem;
  text-align: left;
}

.footer-menu {
  color: #c5c5c5;
}

.footer-menu:hover {
  color: #f2f2f2;
  cursor: pointer;
}

.footer-menu-active {
  color: #ff006b;
}

.latest-lab {
  background-color: #7c7c81;
  height: 155px;
  max-width: 275px;
}

.social-icon {
  margin-left: 5px;
  margin-right: 5px;
}

.social-icon:hover {
  opacity: 0.7;
}

.code-btn, .modal-btn, .submit-btn {
  background-image: linear-gradient(180deg, #f65ba6 0%, #ff006b 100%);
  border: 0 solid transparent;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  color: #f2f2f2;
  display: inline-block;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  letter-spacing: 1.21px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}

.code-btn {
  font-size: 20px;
  padding: 3px 15px 1px 10px;
}

.modal-btn {
  font-size: 27px;
  padding: 6px 17px 4px 14px;
}

.submit-btn {
  font-size: 27px;
  padding: 6px 24px 4px 14px;
  float: right;
}

.code-btn:hover, .code-btn:focus, .code-btn:active,
.modal-btn:hover, .modal-btn:focus, .modal-btn:active,
.submit-btn:hover, .submit-btn:focus, .submit-btn:active {
  background-image: linear-gradient(0deg, #ff3366 0%, #ff4d79 100%);
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
}

.code-btn:after, .modal-btn:after, .submit-btn:after {
  background-size: 100% 100%;
  content: " ";
  display: inline-block;
  height: 32px;
  left: 9px;
  line-height: 32px;
  position: relative;
  top: 0;
  width: 32px;
}

.modal-btn:after {
  background: url("../images/icons/modal-window-icon.svg") no-repeat left center transparent;
}

.submit-btn:after {
  background: url("../images/icons/next.svg") no-repeat left center transparent;
  margin: 0 -10px 0 0;
}

.code-btn:after {
  background: url("../images/icons/code-sm.svg") no-repeat left center transparent;
  width: 38px;
}

ol {
  counter-reset: li;
  list-style-type: none;
}

ol li {
  color: #f2f2f2;
  display: block;
  font-size: 1.7rem;
  letter-spacing: 0.7px;
  line-height: 1.3;
}

ol li:before {
  color: #ff006b;
  content: counter(li, decimal-leading-zero);
  counter-increment: li;
  font-size: 3rem;
  margin-right: 0.25em;
}

li.black-text {
  color: #252526;
}

/* The Modal (background) */
.modal {
  background-color: black;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 8888;
}

/* Modal Content/Box */
.modal-content {
  background-image: linear-gradient(-180deg, rgba(86, 86, 90, 0.95) 0%, rgba(99, 99, 103, 0.95) 100%);
  border: 1px solid #7c7c81;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  margin: 10vh auto;
  padding: 0 5px 5px 5px;
  width: 82%;
}

@media (max-width: 1000px) {
  .modal-content {
    width: 92%;
  }
}
/* The Close Button */
.closer {
  color: #f2f2f2;
  display: inline-block;
  float: right;
  font-size: 33px;
  font-weight: bold;
  margin-right: 10px;
}

.closer:hover,
.closer:focus {
  color: #ff4d79;
  cursor: pointer;
  text-decoration: none;
}

.modal-title {
  display: inline-block;
  float: left;
  font-family: "Anton", sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: 1px;
  margin-left: 20px;
  margin-top: 30px;
}

/*=============================
  Business Card containers 
===============================*/
.inner-card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 10%;
}

.bizzy-card-container {
  min-width: 200px;
  max-width: 450px;
  flex-basis: auto;
  flex-grow: 1;
  flex-wrap: wrap;
}

/*=============================
     Left Content
===============================*/
.biz-card-a {
  width: 160px;
  height: 220px;
  background-color: #f2f2f2;
  float: left;
  padding: 10px;
  transition: 0.1s ease;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
}

.biz-headshot {
  width: 120px;
  height: 120px;
  border-radius: 120px;
  background-size: 132px;
  background-repeat: no-repeat;
  background-position: 50% 6%;
  border: 1px solid #d8d8d8;
  margin-top: 17px;
  margin-left: auto;
  margin-right: auto;
}

.biz-pic-drew {
  background-image: url("https://drewgoff.com/images/business-card/drew-biz.jpg");
}

.biz-words-container {
  margin-top: 122px;
}

.biz-name {
  text-align: center;
  font-family: "Anton", sans-serif;
  color: #252526;
  font-size: 2.3rem;
}

.biz-title {
  text-align: center;
  font-family: "Nunito", sans-serif;
  color: #252526;
  font-size: 1.1rem;
  max-width: 100px;
  margin-left: 10px;
  margin-top: -7px;
}

/*=============================
     Right Content
===============================*/
.biz-card-b {
  width: 230px;
  height: 220px;
  background-color: #f2f2f2;
  padding: 10px;
  transition: 0.1s ease;
  top: 0;
  bottom: 0;
  overflow: hidden;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
}

.biz-shape {
  float: right;
  background: #ff4d79;
  background: -webkit-linear-gradient(-45deg, #ff4d79 0%, #ea2e6d 100%);
  background: -ms-linear-gradient(-45deg, #ff4d79 0%, #ea2e6d 100%);
  background: linear-gradient(135deg, #ff4d79 0%, #ea2e6d 100%);
  transform: scaleX(1) rotate(50deg);
  top: 0;
  bottom: 0;
  height: 308px;
  margin: -25px -55px 0 0;
  border-radius: 50px;
  width: 100%;
  color: #fff;
  border: 2px solid #fff;
}

.biz-contact-box {
  position: absolute;
  margin-top: 140px;
  margin-left: 1px;
  width: 210px;
  transform: scaleX(1) rotate(-50deg);
}

.biz-email:before,
.biz-cell:before,
.biz-portfolio:before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  float: left;
  margin: -3px 9px 0 0;
}

.biz-email:before {
  background: url("https://drewgoff.com/images/business-card/email.svg") no-repeat;
}

.biz-cell:before {
  background: url("https://drewgoff.com/images/business-card/cellphone.svg") no-repeat;
}

.biz-portfolio:before {
  background: url("https://drewgoff.com/images/business-card/suitcase.svg") no-repeat;
}

.biz-email, .biz-email a:link,
.biz-cell, .biz-cell a:link {
  color: #fff;
  font-size: 13px;
  margin-bottom: 14px;
  margin-left: 1px;
  cursor: pointer;
  padding-top: 5px;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
}

/*=============================
   Business Card Mobile
===============================*/
@media screen and (max-width: 660px) {
  .inner-card-container {
    margin-top: 5%;
  }

  .biz-email:before, .biz-cell:before,
.biz-portfolio:before {
    margin: -4px 2px 0 0;
  }

  .biz-email, .biz-email a:link,
.biz-cell, .biz-cell a:link,
.biz-portfolio, .biz-portfolio a:link {
    margin-bottom: 6px;
    margin-left: 15px;
    padding-top: 5px;
  }

  .biz-card-a, .biz-card-b {
    margin-left: 20%;
  }

  .biz-card-a {
    width: 240px;
    height: 195px;
    border-top-right-radius: 18px;
    border-bottom-left-radius: 0;
  }

  .biz-headshot {
    margin-top: 6px;
  }

  .biz-card-b {
    width: 240px;
    height: 190px;
    border-bottom-left-radius: 18px;
    border-top-right-radius: 0;
  }

  .biz-shape {
    transform: scaleX(1) rotate(77deg);
    margin: -13px -60px 0 0;
  }

  .biz-contact-box {
    transform: scaleX(1) rotate(-77deg);
  }

  .biz-contact-box {
    position: absolute;
    margin-top: 150px;
    margin-left: -20px;
    width: 210px;
  }
}
@media screen and (max-width: 375px) {
  .biz-card-a, .biz-card-b {
    margin-left: 11%;
  }
}
@media screen and (max-width: 320px) {
  .biz-card-a, .biz-card-b {
    margin-left: 5%;
  }
}
/*============================
  PathCard flexbox Container
============================*/
.path-card__flex-container {
  display: flex;
  flex-flow: row wrap;
}

.path-card__flex-item {
  flex-grow: 1;
  flex-basis: calc(100% * 0.33 - 20px);
  background-image: linear-gradient(180deg, #7c7c81 0%, #4a4a4d 100%);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  margin: 5px;
  cursor: pointer;
}

@media only screen and (max-width: 1080px) {
  .path-card__flex-item {
    flex-basis: calc(100% * 0.5 - 20px);
  }
}
@media only screen and (max-width: 800px) {
  .path-card__flex-item {
    flex-basis: calc(100%);
  }
}
.nature-card__flex-container {
  display: flex;
  flex-flow: row wrap;
}

.nature-card__flex-item {
  flex-grow: 1;
  flex-basis: calc(100% * 0.50 - 20px);
  background-image: linear-gradient(180deg, #7c7c81 0%, #4a4a4d 100%);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  margin: 5px;
  cursor: pointer;
}

@media only screen and (max-width: 880px) {
  .nature-card__flex-item {
    flex-basis: calc(100%);
  }
}
/*=============================
  Wide Picture area
=============================*/
.path-card__bg {
  background-color: #313133;
  padding-top: 25px;
  padding-bottom: 60px;
}

.padding-10 {
  padding: 10px;
}

.pad-pic-10 {
  padding-top: 10px;
}

.text-center {
  text-align: center;
}

.wide-img {
  background-position: center center;
  background-repeat: no-repeat;
  height: 450px;
  width: 100%;
}

/*=============================
  PathCard Title Containers
=============================*/
.path-card__title-container,
.path-card__title-container-lg {
  position: absolute;
  z-index: 2;
  margin-top: -60px;
}

/*=============================
  PathCard Containers A & B
=============================*/
.path-card__container-a, .path-card__container-b,
.path-card__container-a-lg, .path-card__container-b-lg {
  height: 50px;
  background-image: linear-gradient(180deg, rgba(255, 77, 121, 0.95) 0%, rgba(255, 51, 102, 0.85) 50%, rgba(234, 46, 109, 0.75) 100%);
  float: left;
}

.path-card__container-a {
  width: 240px;
}

.path-card__container-a-lg {
  width: 330px;
}

.path-card__container-b, .path-card__container-b-lg {
  width: 50px;
  transform: skew(20deg);
  margin-left: -9px;
}

/*=============================
  PathCard Title 
=============================*/
.path-card__title,
.path-card__title-lg {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  font-size: 27px;
  color: #FFFFFF;
  letter-spacing: 2px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  z-index: 2;
  position: absolute;
  padding-left: 12px;
}

.path-card__title {
  padding-top: 3px;
}

.path-card__title-lg {
  font-size: 27px;
  padding-left: 12px;
  padding-top: 5px;
}

.path-card__icon,
.path-card__icon__lg {
  position: absolute;
  z-index: 4;
  margin-left: 220px;
  margin-top: -15px;
}

.path-card__icon__lg {
  margin-left: 300px;
}

@media only screen and (max-width: 500px) {
  .path-card__title-lg {
    font-size: 20px;
    padding-top: 10px;
  }

  .path-card__container-a-lg {
    width: 240px;
  }

  .path-card__icon__lg {
    margin-left: 220px;
  }
}
/*=============================
  PathCard Title Strips
=============================*/
.pinkStrip_65-one, .pinkStrip_65-two, .pinkStrip_55-three, .pinkStrip_55-four,
.pinkStrip_45-five, .pinkStrip_45-six, .pinkStrip_35-seven, .pinkStrip_35-eight,
.pinkStrip_25-nine, .pinkStrip_25_ten {
  width: 15px;
  height: 50px;
  z-index: 1;
  position: absolute;
}

.pinkStrip_65-one {
  background: rgba(255, 77, 121, 0.65);
  margin-left: 0px;
}

.pinkStrip_65-two {
  background: rgba(255, 77, 121, 0.65);
  margin-left: 30px;
}

.pinkStrip_55-three {
  background: rgba(255, 77, 121, 0.55);
  margin-left: 60px;
}

.pinkStrip_55-four {
  background: rgba(255, 77, 121, 0.55);
  margin-left: 90px;
}

.pinkStrip_45-five {
  background: rgba(255, 77, 121, 0.45);
  margin-left: 120px;
}

.pinkStrip_45-six {
  background: rgba(255, 77, 121, 0.45);
  margin-left: 150px;
}

.pinkStrip_35-seven {
  background: rgba(255, 77, 121, 0.35);
  margin-left: 180px;
}

.pinkStrip_35-eight {
  background: rgba(255, 77, 121, 0.35);
  margin-left: 210px;
}

.pinkStrip_25-nine {
  background: rgba(255, 77, 121, 0.25);
  margin-left: 240px;
}

.pinkStrip_25-ten {
  background: rgba(255, 77, 121, 0.25);
  margin-left: 270px;
}

/*=============================
  Polariods opening
=============================*/
.polariod__flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  align-items: center;
}

.polariod__flex-item {
  flex: 1 1 20%;
  align-self: auto;
  margin: 10px;
  background-image: linear-gradient(170deg, #f2f2f2 0%, #D8D8D8 100%);
  padding-bottom: 15px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.transform-p3 {
  transform: rotate(3deg);
}

.transform-n3 {
  transform: rotate(-3deg);
}

.transform-p5 {
  transform: rotate(5deg);
}

.transform-n5 {
  transform: rotate(-5deg);
}

.transform-p7 {
  transform: rotate(7deg);
}

.transform-n7 {
  transform: rotate(-7deg);
}

.polariod__image {
  margin-top: 13px;
  margin-left: 13px;
  margin-right: 13px;
}

h3.polariod__title {
  color: #313133;
  text-align: center;
  font-size: 20px;
  font-family: "Permanent Marker", cursive;
  line-height: 0.9;
}

@media only screen and (max-width: 768px) {
  .polariod__flex-item {
    flex: 1 1 145px;
  }
}
/*--=--=--=--=--=--=--=--=--=--=--=
---=---=---=---=---=---=---=---=---
       Story Modal Begins     
=---=---=---=---=---=---=---=---=--
=--=--=--=--=--=--=--=--=--=--=--*/
/* ---^---^---^---^---^---^---^---^---^---^---^
   Level 1: Story Modal total container
^---^---^---^---^---^---^---^---^---^---^---^ */
.storyModal {
  padding: 13px;
  margin: 4% auto 0 auto;
  max-width: 1140px;
}

/* ---^---^---^---^---^---^---^---^---^---^---^
   Level 2: Story Modal Header
^---^---^---^---^---^---^---^---^---^---^---^ */
/*  Story Modal header background and size
––––––––––––––––––––––––––––––––––––––-–––––- */
.storyModal-header {
  background-image: linear-gradient(180deg, #FF4D79 0%, #FF3366 52%, #EA2E6D 100%);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
  height: 90px;
  position: relative;
  z-index: 1;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

/*  Story Modal header flexBox containers
––––––––––––––––––––––––––––––––––––––-–––––- */
.storyModal-header-container {
  display: flex;
  flex-wrap: nowrap;
}

.grid-33 {
  width: calc(33.3333%);
}

.grid-66 {
  width: calc(66.6666%);
}

/*  Story Modal header title
––––––––––––––––––––––––––––––––––––––-–––––- */
.storyModal-title {
  color: #ffffff;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 1.61px;
  line-height: 1.2;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  width: 140px;
}

.wide-title {
  padding: 10px 0 0 15px;
  width: 130px;
}

.square-title {
  padding: 28px 0 0 15px;
  width: 300px;
}

/*  Story Modal header exit area
––––––––––––––––––––––––––––––––––––––-–––––- */
.exit-shape__container {
  border-bottom: 90px solid #313133;
  border-left: 25px solid transparent;
  height: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 125px;
  border-top-right-radius: 4px;
}

.exit-icon__container {
  margin: 14px 0 0 25px;
}

.exit-icon__container:hover {
  cursor: pointer;
  opacity: 0.7;
}

.exit-icon__title {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: -6px;
}

/* ---^---^---^---^---^---^---^---^---^---^---^
   Level 3: Story Modal body container
^---^---^---^---^---^---^---^---^---^---^---^ */
.storyModal-body {
  background: linear-gradient(280deg, #313133 20%, #ff4d79 100%);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
  padding-bottom: 10px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* ---^---^---^---^---^---^---^---^---^---^---^
 Level 4: Story Modal content container
^---^---^---^---^---^---^---^---^---^---^---^ */
.storyModal-content {
  display: flex;
  background-color: #ffffff;
  border-radius: 1px;
  margin: 0 10px 0 10px;
  transition: 0.3s ease-in-out;
}

/*  Story Modal wide content
––––––––––––––––––––––––––––––––––––––-–––––- */
.wide {
  flex-flow: column nowrap;
  height: 70vh;
}

.wide-item:nth-child(1) {
  width: 100%;
  height: 100%;
}

.wide-item:nth-child(2) {
  background: linear-gradient(280deg, #313133 20%, #ff4d79 100%);
  width: 100%;
  height: 2vh;
}

.wide-item:nth-child(3) {
  width: 100%;
  height: 68vh;
  padding: 10px 15px 10px 15px;
  overflow: scroll;
}

/*  Story Modal wide media queries
––––––––––––––––––––––––––––––––––––––-–––––- */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .wide {
    height: 60vh;
  }

  .wide-item:nth-child(1) {
    height: 30vh;
  }

  .wide-item:nth-child(2) {
    height: 1vh;
  }

  .wide-item:nth-child(3) {
    height: 29vh;
  }
}
@media only screen and (max-width: 768px) {
  .wide {
    height: 60vh;
  }

  .wide-item:nth-child(1) {
    height: 27vh;
  }

  .wide-item:nth-child(2) {
    height: 1vh;
  }

  .wide-item:nth-child(3) {
    height: 32vh;
  }
}
@media only screen and (max-width: 450px) {
  .wide {
    height: 67vh;
  }

  .wide-item:nth-child(1) {
    height: 25vh;
  }

  .wide-item:nth-child(2) {
    height: 1vh;
  }

  .wide-item:nth-child(3) {
    height: 41vh;
  }
}
/*  Story Modal square content
––––––––––––––––––––––––––––––––––––––-–––––- */
.square {
  flex-flow: row nowrap;
  height: 65vh;
}

.square-item:nth-child(1) {
  width: 69%;
}

.square-item:nth-child(2) {
  background: linear-gradient(280deg, #313133 20%, #ff4d79 100%);
  width: 1%;
}

.square-item:nth-child(3) {
  width: 30%;
  padding: 10px 15px 10px 15px;
  overflow: scroll;
}

/*  Story Modal square media queries
––––––––––––––––––––––––––––––––––––––-–––––- */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .square {
    height: 40vh;
  }
}
@media only screen and (max-width: 768px) {
  .square {
    flex-flow: column nowrap;
    height: 75vh;
  }

  .square-item:nth-child(1) {
    width: 100%;
    height: 48vh;
  }

  .square-item:nth-child(2) {
    width: 100%;
    height: 1vh;
  }

  .square-item:nth-child(3) {
    width: 100%;
    height: 26vh;
  }
}
@media only screen and (max-width: 450px) {
  .square {
    flex-flow: column nowrap;
    height: 66vh;
  }

  .square-item:nth-child(1) {
    width: 100%;
    height: 33vh;
  }

  .square-item:nth-child(2) {
    width: 100%;
    height: 1vh;
  }

  .square-item:nth-child(3) {
    width: 100%;
    height: 32vh;
  }
}
/* ---^---^---^---^---^---^---^---^---^---^---^
 Level 5: Story Modal square backgrounds
^---^---^---^---^---^---^---^---^---^---^---^ */
.wesselman-woods {
  background-image: url("../images/deaconess-hospital/wesselman-woods-web.jpg");
}

.angel-mounds {
  background-image: url("../images/deaconess-hospital/angel-mounds-web.jpg");
}

.ellis-park {
  background-image: url("../images/deaconess-hospital/ellis-park-web.jpg");
}

.eagle-slough {
  background-image: url("../images/deaconess-hospital/eagle-slough-web.jpg");
}

.sun-bear {
  background-image: url("../images/deaconess-hospital/sun-bear.jpg");
}

.red-panda {
  background-image: url("../images/deaconess-hospital/red-panda.jpg");
}

.turtle {
  background-image: url("../images/deaconess-hospital/turtle.jpg");
}

.monkies {
  background-image: url("../images/deaconess-hospital/monkey.jpg");
}

.birds {
  background-image: url("../images/deaconess-hospital/birds.jpg");
}

.camel {
  background-image: url("../images/deaconess-hospital/camel.jpg");
}

.bg-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ---^---^---^---^---^---^---^---^---^---^---^
 Level 6: Story Modal wide writing classes
^---^---^---^---^---^---^---^---^---^---^---^ */
.css-columns {
  column-count: 3;
  column-gap: 40px;
  column-width: 100px;
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1.4;
  color: #252526;
}

@media only screen and (max-width: 768px) {
  .css-columns {
    column-count: 2;
  }
}
@media only screen and (max-width: 450px) {
  .css-columns {
    column-count: 1;
  }
}
p.storyModal-words {
  color: #252526;
  max-width: 650px;
}

/*
* ====================
   Intro Title Area
* ====================
*/
.left-overlay {
  clear: both;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  margin-bottom: 1rem;
  max-width: 1920px;
}

.left-overlay-img-1 {
  background-image: url(../images/first-shot.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  height: 600px;
  width: 100%;
}

.left-overlay-content-1 {
  background: rgba(234, 46, 109, 0.8);
  background: -webkit-linear-gradient(-45deg, rgba(234, 46, 109, 0.9) 0%, rgba(255, 77, 121, 0.8) 100%);
  background: -ms-linear-gradient(-45deg, rgba(234, 46, 109, 0.9) 0%, rgba(255, 77, 121, 0.8) 100%);
  background: linear-gradient(135deg, rgba(234, 46, 109, 0.9) 0%, rgba(255, 77, 121, 0.8) 100%);
  bottom: 0;
  color: #f2f2f2;
  height: 1200px;
  margin-top: -200px;
  position: absolute;
  right: 0;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  top: 0;
  transform: scaleX(1) rotate(23deg);
  width: 40%;
  z-index: 1;
}

.left-overlay-content-2 {
  font-size: 2.5rem;
  margin-top: 90%;
  padding: 0 30px 0 10px;
  position: absolute;
  transform: rotate(-23.5deg);
  z-index: 1;
}

@media screen and (max-width: 1250px) {
  .left-overlay-content-1 {
    width: 50%;
  }

  .left-overlay-content-2 {
    margin-top: 100%;
  }
}
@media screen and (max-width: 900px) {
  .left-overlay-content-1 {
    width: 60%;
  }

  .left-overlay-content-2 {
    margin-top: 100%;
    padding-right: 40px;
  }
}
@media screen and (max-width: 700px) {
  .left-overlay-content-1 {
    width: 65%;
  }

  .left-overlay-content-2 {
    font-size: 2.3rem;
    margin-top: 120%;
    padding-right: 30px;
  }
}
@media screen and (max-width: 580px) {
  .left-overlay-img-1 {
    background-image: url(../images/first-shot.jpg);
    background-position: -570px 0;
    background-repeat: no-repeat;
    height: 600px;
    width: 100%;
  }

  .left-overlay-content-1 {
    background: rgba(234, 46, 109, 0.8);
    background: -webkit-linear-gradient(-45deg, rgba(234, 46, 109, 0.8) 0%, rgba(255, 77, 121, 0.7) 100%);
    background: -ms-linear-gradient(-45deg, rgba(234, 46, 109, 0.8) 0%, rgba(255, 77, 121, 0.7) 100%);
    background: linear-gradient(135deg, rgba(234, 46, 109, 0.8) 0%, rgba(255, 77, 121, 0.7) 100%);
    bottom: 0;
    color: #f2f2f2;
    height: 90px;
    margin-top: 480px;
    position: absolute;
    right: 0;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    top: 0;
    transform: scaleX(1) rotate(0deg);
    width: 100%;
    z-index: 1;
  }

  .left-overlay-content-2 {
    font-size: 1.8rem;
    margin-top: 1%;
    padding: 0 20px 0 20px;
    position: absolute;
    transform: rotate(0deg);
    z-index: 1;
  }
}
@media screen and (max-width: 350px) {
  .left-overlay-content-2 {
    font-size: 1.6rem;
    margin-top: 2.5%;
  }
}
/*
* ====================
    Portfolio Area
* ====================
*/
.portfolio-wrapper {
  width: 100%;
}

.portfolio-item {
  cursor: pointer;
  float: left;
  padding: 0.5em;
  width: 50%;
}

.portfolio-card {
  background-image: linear-gradient(-180deg, #7c7c81 0%, #636367 100%);
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.portfolio-item h2 {
  color: #f2f2f2;
  font-size: 2.4rem;
  letter-spacing: 1px;
  line-height: 1.2;
  margin: 7px 0 0 0;
  padding: 0;
}

.portfolio-item p {
  color: #e5e5e5;
  font-family: "Nunito", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-align: left;
}

@media screen and (max-width: 1340px) {
  .portfolio-item {
    width: 50%;
  }
}
@media screen and (max-width: 885px) {
  .portfolio-item p {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 860px) {
  .portfolio-item {
    width: 100%;
  }

  .portfolio-item p {
    font-size: 1.5rem;
  }
}
/* =====================
	About Section
======================== */
.pad-left {
  padding: 0 30px 0 30px;
}

.float-right {
  float: right;
  padding-right: 20px;
}

/* =====================
	Emerge Component
======================== */
.emerge__component {
  margin: 40px 0 40px 0;
}

.emerge__title {
  padding-left: 35px;
  margin: 0 auto;
  max-width: 1140px;
}

.emerge__extrude {
  background: #636367;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  height: auto;
  padding-bottom: 20px;
  width: 100%;
}

.emerge__pink-top {
  background-color: #ff4d79;
  height: 15px;
  width: 100%;
}

.emerge__pink-bottom {
  background-color: #ff3366;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  height: 15px;
  width: 100%;
}

.emerge__content-container {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1140px;
}

.box-33 {
  padding: 10px;
  width: calc(33.3333% - 15px);
}

.box-50 {
  padding: 10px;
  width: calc(50% - 15px);
}

.box-66 {
  padding: 10px;
  width: calc(66.6666% - 15px);
}

.emerge__book-holder {
  margin-top: -110px;
  z-index: 2;
}

.emerge__book-info-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 420px;
  margin: 10px 0 20px 0;
}

.emerge__book-titles {
  color: #252526;
  font-family: "Anton", sans-serif;
  font-size: 1.7rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  width: calc(20% - 4px);
}

.emerge__book-info {
  color: #ffffff;
  font-family: "Nunito", sans-serif;
  font-size: 1.7rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  width: calc(80% - 4px);
}

@media only screen and (max-width: 650px) {
  .emerge__title {
    margin: 0 auto 81px auto;
    max-width: 1140px;
    padding-left: 25px;
  }

  .emerge__content-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1140px;
    padding: 15px;
  }

  .pad-left {
    padding-left: 10px;
    padding-right: 10px;
  }

  .box-33 {
    width: calc(100% - 15px);
  }

  .box-66 {
    width: calc(100% - 15px);
  }

  .emerge__book-holder {
    margin-top: -130px;
  }
}
/* =====================
	Q & A Section
======================== */
.q-a__grid-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1140px;
}

.q-a__grid {
  margin: 7px;
  width: calc(33.3333% - 15px);
}

.q-a__box {
  background-image: linear-gradient(180deg, #7c7c81 0%, #636367 100%);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  height: 300px;
  padding: 15px;
}

.q-a__header {
  font-family: "Anton", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  height: 80%;
  letter-spacing: 1px;
  line-height: 1.3;
  padding: 13px;
}

.q-a__footer {
  height: 20%;
  text-align: right;
}

@media only screen and (max-width: 980px) {
  .q-a__header {
    font-size: 2.7rem;
  }
}
@media only screen and (max-width: 800px) {
  .q-a__header {
    font-size: 2.4rem;
  }
}
@media only screen and (max-width: 700px) {
  .q-a__header {
    font-size: 2.7rem;
  }

  .q-a__grid {
    width: calc(50% - 15px);
  }
}
@media only screen and (max-width: 500px) {
  .q-a__header {
    font-size: 3rem;
  }

  .q-a__grid {
    width: calc(100% - 15px);
  }
}
/* =====================
	Q & A Modal Window
======================== */
.pink-modal {
  padding: 13px;
  margin: 10% auto 0 auto;
  max-width: 600px;
}

/* Modal Header -- Header area */
.pink-modal-header {
  background-image: linear-gradient(180deg, #FF4D79 0%, #FF3366 52%, #EA2E6D 100%);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
  height: 100px;
  position: relative;
  z-index: 2;
}

.modal-header-question {
  font-family: "Anton", sans-serif;
  font-size: 2.2rem;
  font-weight: 400;
  letter-spacing: 0.8px;
  padding: 10px 0 0 15px;
}

@media only screen and (max-width: 525px) {
  .modal-header-question {
    font-size: 2rem;
    line-height: 1.4;
    padding: 10px 0 0 15px;
  }
}
@media only screen and (max-width: 400px) {
  .modal-header-question {
    font-size: 1.7rem;
    line-height: 1.5;
    padding: 10px 0 0 15px;
  }
}
.pink-modal-header-container {
  display: flex;
  flex-wrap: wrap;
}

.pink-modal-header-grid-33 {
  align-self: center;
  justify-content: center;
  width: calc(33.3333%);
}

.pink-modal-header-grid-66 {
  width: calc(66.6666%);
}

/* Modal Header -- Exit area */
#trapezoid {
  border-bottom: 100px solid #313133;
  border-left: 25px solid transparent;
  height: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}

.exit-container {
  margin: 20px 0 0 13px;
}

.exit-container:hover {
  cursor: pointer;
  opacity: 0.7;
}

.exit-title {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  letter-spacing: 0.8px;
  margin-top: -6px;
}

/* Pink Modal Body Area */
.pink-modal-body {
  background: #313133;
  background: linear-gradient(280deg, #313133 20%, #ff4d79 100%);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
  height: auto;
  padding-bottom: 10px;
}

.pink-modal-body-two {
  background-color: #ffffff;
  border-radius: 1px;
  color: #252526;
  font-size: 17px;
  height: auto;
  letter-spacing: 1.05px;
  line-height: 1.45;
  padding: 20px 20px 20px 20px;
  margin: 0 10px 0 10px;
}

.aligner {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.aligner-item {
  max-width: 50%;
  padding: 10px;
}

p.lab-intro-text {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
}

@media screen and (max-width: 400px) {
  .aligner-item:nth-child(1) {
    padding: 3px;
    width: 30%;
  }

  .aligner-item:nth-child(2) {
    padding: 3px;
    width: 70%;
  }

  p.lab-intro-text {
    font-family: "Nunito", sans-serif;
    font-size: 1.3rem;
    font-weight: 300;
  }
}
.lab-wrapper {
  width: 100%;
}

.lab-item {
  float: left;
  padding: 0.5em;
  width: 33.3%;
}

@media screen and (max-width: 900px) {
  .lab-item {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .lab-item {
    width: 100%;
  }
}
.lab-card__container {
  background-image: linear-gradient(-180deg, #636367 0%, #56565a 100%);
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.lab-card__header {
  color: #f2f2f2;
  font-family: "Anton", sans-serif;
  font-size: 2.2rem;
  height: 50px;
  letter-spacing: 1px;
  padding-top: 10px;
  text-align: center;
}

.lab-card__photo {
  background-image: linear-gradient(0deg, #7c7c81 0%, #89898e 100%);
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  height: auto;
  padding: 2rem 1rem 1rem 1rem;
}

.lab-card__footer {
  align-items: center;
  display: flex;
  font-family: "Nunito", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  height: 70px;
  letter-spacing: 1px;
}

.lab-card__footer > div {
  flex: 1;
  text-align: center;
}

.lab-card__footer > div:nth-child(1) {
  border-right: 1px solid #c5c5c5;
}

.music-bg {
  background-image: url(../images/music-singles/music-bg.jpg);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5);
  height: auto;
  padding: 40px 15px 40px 15px;
  width: 100%;
}

.soulmate-music-bg {
  background-image: url(../images/music-singles/soulmate-blurred-bg.jpg);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5);
  height: auto;
  padding: 40px 15px 40px 15px;
  width: 100%;
}

.single-bg {
  background: rgba(49, 49, 51, 0.7);
  border-radius: 8px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5);
  height: auto;
  margin: 0 auto;
  max-width: 1080px;
  padding: 7px;
}

.music__content-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.pink-box-33 {
  margin: 7px;
  padding: 2px;
  width: calc(33.3333% - 15px);
}

.pink-box-66 {
  padding: 10px;
  margin: 7px;
  width: calc(66.6666% - 15px);
}

@media only screen and (max-width: 900px) {
  .pink-box-33 {
    padding: 0;
    margin: 30px 7px 7px 7px;
    width: calc(33.3333% - 15px);
  }
}
@media only screen and (max-width: 700px) {
  .pink-box-33 {
    padding: 0;
    margin: 7px;
    width: calc(100% - 15px);
  }

  .pink-box-66 {
    padding: 10px;
    margin: 7px;
    width: calc(100% - 15px);
  }
}
li.tracks {
  display: block;
}

.centered-title {
  border-bottom: 0.5px solid #c5c5c5;
  font-family: "Nunito", sans-serif;
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 0 auto;
  padding: 0 10px 0 10px;
  text-align: center;
  width: 95%;
}

.listen-flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.listen-flex-item:nth-child(1),
.listen-flex-item:nth-child(2),
.listen-flex-item:nth-child(3),
.listen-flex-item:nth-child(4),
.listen-flex-item:nth-child(5),
.listen-flex-item:nth-child(6) {
  align-self: auto;
  flex: 0 1 150px;
  margin: 10px;
}

.listen-flex-item:nth-child(2) {
  padding-top: 5px;
}

.listen-flex-item:nth-child(4) {
  padding-top: 5px;
}

.listen-flex-item:nth-child(6) {
  padding-top: 5px;
}

.skills-container {
  display: flex;
  flex-flow: row wrap;
}

.skills-item:nth-child(1),
.skills-item:nth-child(2),
.skills-item:nth-child(3),
.skills-item:nth-child(4),
.skills-item:nth-child(5) {
  align-self: auto;
  background-image: linear-gradient(-180deg, #636367 0%, #56565a 100%);
  border-radius: 4px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  color: #f2f2f2;
  flex: 0 1 205px;
  margin: 7px;
  padding: 15px;
}

li.skills {
  display: block;
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  padding: 0.1rem 0 0.1rem 0;
  text-align: left;
}

.resume-download-container {
  background-image: linear-gradient(-180deg, #636367 0%, #56565a 100%);
  border-radius: 4px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  margin: 1rem auto 1rem auto;
  max-width: 400px;
  padding: 15px;
}

.inner-resume-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 10px;
}

.inner-resume-item:nth-child(1),
.inner-resume-item:nth-child(2) {
  align-self: auto;
  border: 1px solid #7c7c81;
  color: #f2f2f2;
  flex: 0 1 auto;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.inner-resume-item:hover {
  border: 1px solid #ff006b;
}

.full-column {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

/* Create two equal columns that floats next to each other */
.column-a, .column-b {
  float: left;
  height: 140px;
  padding: 20px 10px 10px 10px;
  text-align: center;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  clear: both;
  content: "";
  display: table;
}

.emphasis {
  color: #ff006b;
  font-size: 5rem;
}

p.onemain-ani-title {
  color: #252526;
  font-family: "Nunito", sans-serif;
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 3px;
  line-height: 0.9;
  padding-top: 13px;
  text-align: left;
}

@media screen and (max-width: 550px) {
  .column-a, .column-b {
    float: left;
    height: 110px;
    padding: 20px 10px 10px 10px;
    text-align: center;
    width: 100%;
  }

  p.onemain-ani-title {
    padding-top: 7px;
  }
}
.red-preloader {
  animation: fadeInFromFifty 2s linear;
  animation-delay: 1s;
  animation-direction: normal;
  animation-iteration-count: infinite;
  fill: #c4203b;
}

.blue-4-preloader {
  animation: fadeInFromFifty 2s linear;
  animation-delay: 1.4s;
  animation-direction: normal;
  animation-iteration-count: infinite;
  fill: #69c5ea;
}

.blue-3-preloader {
  animation: fadeInFromFifty 2s linear;
  animation-delay: 1.8s;
  animation-direction: normal;
  animation-iteration-count: infinite;
  fill: #0090cc;
}

.blue-2-preloader {
  animation: fadeInFromFifty 2s linear;
  animation-delay: 2.2s;
  animation-direction: normal;
  animation-iteration-count: infinite;
  fill: #007bc1;
}

.blue-1-preloader {
  animation: fadeInFromFifty 2s linear;
  animation-delay: 2.6s;
  animation-direction: normal;
  animation-iteration-count: infinite;
  fill: #004370;
}

@-webkit-keyframes fadeInFromFifty {
  50% {
    display: block;
    opacity: 0.5;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
@-moz-keyframes fadeInFromFifty {
  50% {
    display: block;
    opacity: 0.5;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
@-o-keyframes fadeInFromFifty {
  50% {
    display: none;
    opacity: 0.5;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
@keyframes fadeInFromFifty {
  50% {
    display: block;
    opacity: 0.5;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
