@use "../../utilities/variables";

/*
* ====================
   Intro Title Area
* ====================
*/
.left-overlay {
  clear: both;	
  overflow: hidden;	
  position: relative;
  margin: 0 auto;
  margin-bottom: 1rem;
  max-width: 1920px;
}

.left-overlay-img-1 {
  background-image: url(../images/first-shot.jpg);
  background-position: center center;
  background-repeat:  no-repeat;   
  height: 600px;
  width: 100%;
}

.left-overlay-content-1 {
  background: rgba(234,46,109,0.8);
  background: -webkit-linear-gradient(-45deg, rgba(234,46,109,0.9) 0%, rgba(255,77,121,0.8) 100%);
  background: -ms-linear-gradient(-45deg, rgba(234,46,109,0.9) 0%, rgba(255,77,121,0.8) 100%);
  background: linear-gradient(135deg, rgba(234,46,109,0.9) 0%, rgba(255,77,121,0.8) 100%);
  bottom: 0;
  color: variables.$white;  
  height: 1200px;
  margin-top: -200px;      
  position: absolute;
  right: 0;  
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  top: 0;
  transform: scaleX(1) rotate(23deg);
  width: 40%;
  z-index: 1; 
}

.left-overlay-content-2 {
  font-size: 2.5rem;
  margin-top: 90%;    
  padding: 0 30px 0 10px;
  position: absolute;
  transform: rotate(-23.5deg);
  z-index: 1;
}


@media screen and (max-width: 1250px) {
.left-overlay-content-1 { width: 50%; }
.left-overlay-content-2 { margin-top: 100%; }
}

@media screen and (max-width: 900px) {
.left-overlay-content-1 { width: 60%; }
.left-overlay-content-2 { margin-top: 100%; padding-right: 40px; }	
}

@media screen and (max-width: 700px) {
.left-overlay-content-1 { width: 65%; }
.left-overlay-content-2 { font-size: 2.3rem; margin-top: 120%; padding-right: 30px;  }	
}

@media screen and (max-width: 580px) {

.left-overlay-img-1 {
  background-image: url(../images/first-shot.jpg);
  background-position: -570px 0;
  background-repeat:  no-repeat;  
  height: 600px;
  width: 100%;
}

.left-overlay-content-1 {
  background: rgba(234,46,109,0.8);
  background: -webkit-linear-gradient(-45deg, rgba(234,46,109,0.8) 0%, rgba(255,77,121,0.7) 100%);
  background: -ms-linear-gradient(-45deg, rgba(234,46,109,0.8) 0%, rgba(255,77,121,0.7) 100%);
  background: linear-gradient(135deg, rgba(234,46,109,0.8) 0%, rgba(255,77,121,0.7) 100%);
  bottom: 0;
  color: variables.$white;    
  height: 90px;
  margin-top: 480px;   
  position: absolute;
  right: 0;  
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5);  
  top: 0;  
  transform: scaleX(1) rotate(0deg);
  width: 100%;
  z-index: 1; 
 }

.left-overlay-content-2 {
  font-size: 1.8rem;
  margin-top: 1%;  
  padding: 0 20px 0 20px;
  position: absolute;
  transform: rotate(0deg);
  z-index: 1;
 }	
}

@media screen and (max-width: 350px) {

.left-overlay-content-2 {
  font-size: 1.6rem;	
  margin-top: 2.5%;
 }	
}