@use "../../utilities/variables";

/* =====================
	Emerge Component
======================== */
.emerge__component { margin: 40px 0 40px 0; }

.emerge__title {
  padding-left: 35px;
  margin: 0 auto;
  max-width: 1140px;
}

.emerge__extrude {
  background: variables.$light-grey-grey;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  height: auto;
  padding-bottom: 20px;
  width: 100%;
}

.emerge__pink-top {
  background-color: variables.$light-pink;
  height: 15px;
  width: 100%;	
}

.emerge__pink-bottom {
  background-color: variables.$medium-pink;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  height: 15px;
  width: 100%;	
}

.emerge__content-container {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1140px;
}

.box-33 { 
  padding: 10px;
  width: calc(33.3333% - 15px);
}

.box-50 { 
  padding: 10px;
  width: calc(50% - 15px);
}

.box-66 { 
  padding: 10px;
  width: calc(66.6666% - 15px);
}

.emerge__book-holder {
  margin-top: -110px;
  z-index: 2;
}

.emerge__book-info-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 420px;
  margin: 10px 0 20px 0;
}

.emerge__book-titles { 
  color: variables.$dark-black-blue;
  font-family: variables.$title-font;
  font-size: 1.7rem;
  font-weight: variables.$bold-font-weight;
  letter-spacing: 0.50px;
  width: calc(20% - 4px);	
}

.emerge__book-info   { 
  color: variables.$super-white;
  font-family: variables.$body-font;
  font-size: 1.7rem;
  font-weight: variables.$medium-font-weight;
  letter-spacing: 0.50px;
  width: calc(80% - 4px);	
}

@media only screen and (max-width: 650px) {

 .emerge__title {
  margin: 0 auto 81px auto;
  max-width: 1140px;
  padding-left: 25px;
 }

 .emerge__content-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1140px;
  padding: 15px;
 }

 .pad-left { padding-left: 10px; padding-right: 10px; }
 .box-33 { width: calc(100% - 15px); }
 .box-66 { width: calc(100% - 15px); }
 .emerge__book-holder { margin-top: -130px; }
}

