.flexFooter-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.flexFooter-item:nth-child(1),
.flexFooter-item:nth-child(2),
.flexFooter-item:nth-child(3),
.flexFooter-item:nth-child(4),
.flexFooter-item:nth-child(5) {
    align-self: auto;
    flex: 0 1 auto;
    margin: 0 15px 2rem 15px;
}

.flexFooter-item:nth-child(1) { margin-top: 4px; }

@media only screen and (max-width: 750px) {
  .flexFooter-item:nth-child(5) { 
	  margin: 15px 13px 2rem 13px; 
  }
}

@media only screen and (max-width: 426px) {
  .flexFooter-item:nth-child(4) { 
	  margin: 15px 13px 3rem 13px; 
  }
}