@use "../../variables";

.footer-menu, .footer-menu-active {
  display: block;
  font-family: variables.$title-font;
  font-size: 16px;
  letter-spacing: 1px;	
  padding-bottom: 0.4rem;	
  padding-top: 0.4rem;
  text-align: left;
}

.footer-menu { color: variables.$white-grey; }
.footer-menu:hover { color: variables.$white; cursor: pointer; }
.footer-menu-active { color: variables.$dark-pink; }