//
// ===== Greys ===== 
//
$dark-black-blue:   #252526;
$dark-grey-blue:    #313133;
$light-grey-blue:   #4a4a4d;
$super-light-grey:  #56565a;
$light-grey-grey:   #636367;
$light-pale-grey:   #7c7c81;
$lighter-pale-grey: #89898e;

//
// ===== Whites ===== 
//
$white-grey:	#c5c5c5;
$off-white:		#e5e5e5;
$white:   		#f2f2f2;
$super-white:	#ffffff;

//
// ===== Pink Accents ===== 
//
$dark-pink: 	#ff006b;
$medium-pink:	#ff3366;
$light-pink:	#ff4d79;
$bright-pink:  	#f65ba6;

//
// ===== Fonts ===== 
//
$title-font:	   	  'Anton', sans-serif;
$bold-font-weight:    400;
$body-font:		      'Nunito', sans-serif;
$medium-font-weight:  400; 
$regular-font-weight: 300; 
