@use "../../utilities/variables";

.resume-download-container {
  background-image: linear-gradient(-180deg, variables.$light-grey-grey 0%, variables.$super-light-grey 100%);	
  border-radius: 4px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);	
  margin: 1rem auto 1rem auto;
  max-width: 400px;
  padding: 15px;
}

.inner-resume-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 10px;
}

.inner-resume-item:nth-child(1),
.inner-resume-item:nth-child(2) {
  align-self: auto;
  border: 1px solid variables.$light-pale-grey;
  color: variables.$white;
  flex: 0 1 auto;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.inner-resume-item:hover { border: 1px solid variables.$dark-pink; }