.rec-ani-container {
 align-items: center;
 display: flex;
 justify-content: center;
}

.rec-ani-item { padding: 5px; }

.rec-ani {
 height: 280px;
 margin: 45px 0 0 13px;
 position: absolute;
 width: 159px;
}