article {
  border-bottom: 1px solid $dark-pink;
  display: flex; 
  flex-basis: auto;   
  flex-grow: 1;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1000px;
  min-width: 280px;  
  padding: 30px 0 30px 0;
}

.no-underline { border-bottom: 0 solid $dark-pink; }

.title-area { padding: 10px; width: 30%; }
.content-area { padding: 10px; width: 70%; }

@media only screen and (max-width: 650px) {
.title-area { width: 100%; }
.content-area { width: 100%; }	
}