footer {

  //-- Private variables --//
  $dark-black-blue: 	#252526;
  //----------------------//

  background-color: $dark-black-blue; 	
  flex-shrink: 0;
  margin-top: 4rem;
  padding-bottom: 1rem;
  padding-top: 3rem;   
  width: 100%;
}