@use "../utilities/variables";

header {  
  background: linear-gradient(to bottom, variables.$dark-grey-blue 0%, variables.$dark-black-blue 100%);  
  border-bottom: 1.5px solid variables.$dark-grey-blue;
  box-shadow: 0px 3px 5px 0px rgba(37,37,38,0.4);
  height: 80px;
  position: fixed;
  width: 100%;
  z-index: 5;
}

@media only screen and (max-width: 767px)  {
 header { height: 70px; }
}