#logo {
  height: 80px;
  margin-top: 1rem;
  margin-left: 0.3em;
  width: 200px; }

#name {
  color: $white;
  font-family: $title-font;
  font-size: 1.75em;
  letter-spacing: 1px;
  text-align: left; }

#title {
  color: $white-grey;
  font-family: $body-font;
  font-size: .794em;
  font-weight: 300;
  letter-spacing: 3px;
  line-height: 0;
  margin-top: -2px;
  text-align: left;
 }

.highlight { color: $medium-pink; font-size: 1.3rem; }

@media only screen and (max-width: 767px)  {
 #logo  { margin-top: 0.5rem; }	
}