/* ============================
 Desktop: Navigation Section
=============================*/		
.desktop-nav-container {
  align-content: flex-start;
  align-items: flex-start; 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.desktop-nav-item:nth-child(1) {
  align-self: auto;
  flex: 1 1 auto;
  height: 80px; 
}

.desktop-nav-item:nth-child(2) {
  align-self: auto;
  flex: 2 1 auto;
  height: 80px; 
}

.desktop-nav {
  float: right; 
  margin-right: 0.9rem;
  margin-top: 1.5em;
}

.top-nav {
  color: $white-grey;
  font-family: $title-font;
  font-size: 1.75rem;
  letter-spacing: 1px;
  padding-left: 40px;
  transition: 0.3s; 
}

.top-nav:hover {
  color: $white;
  cursor: pointer; 
}

.active-link { color: $dark-pink; }		
.active-link:hover { color: $dark-pink; }		
.mobile-nav { display: none; }

@media only screen and (max-width: 900px) {
 .desktop-nav { margin-top: 1.6em; }
 .top-nav { font-size: 1.6rem; padding-left: 30px;  } 
 .active-link { color: $dark-pink; }
}	   

@media only screen and (max-width: 767px) {
  .desktop-nav { display: none; } 
  .mobile-nav  { display: inline-block; float: right; }
}


/* ===========================
  Mobile: Toggle Section
============================*/
#toggle {
  cursor: pointer;    
  display: inline-block;
  margin: 0.5rem 0.5rem 0 0;
}

.bar1 {
  background: $light-pink;  
  height: 3px; 
  margin: 8px 0;  
  transition: 0.3s;  
  width: 25px;
}

.bar2 {
  background: $medium-pink;
  height: 3px;
  margin: 8px 0;  
  transition: 0.3s;  
  width: 30px;
}

.bar3 {
  background: $dark-pink;	
  height: 3px;
  margin: 8px 0;
  transition: 0.3s;
  width: 35px;
}

.ham-title {
  color: $white;	
  font-family: $body-font;
  font-size: 1.35rem;
  font-weight: $regular-font-weight;
  letter-spacing: 1px;
  margin-top: -5px;      
}

.change .bar1 {
  background: $dark-pink;
  background: -moz-linear-gradient(left, $dark-pink 20%, $white-grey 80%);
  background: -webkit-linear-gradient(left, $dark-pink 20%, $white-grey 80%);
  background: linear-gradient(to right, $dark-pink 20%, $white-grey 80%);
  transform: rotate(-45deg) translate(-9px, 6px);
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  width: 35px;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  background: $white-grey;
  background: -moz-linear-gradient(left, $white-grey 20%, $dark-pink 80%);
  background: -webkit-linear-gradient(left, $white-grey 20%, $dark-pink 80%);
  background: linear-gradient(to right, $white-grey 20%, $dark-pink 80%);
  transform: rotate(45deg) translate(-8px, -8px);
  -webkit-transform: rotate(45deg) translate(-8px, -8px);   
}

/* ===========================
  Mobile: Dropdown Section
============================*/
.hiddenMenu {
  background: $dark-grey-blue;
  background: -moz-linear-gradient(top, $dark-grey-blue 0%, $dark-black-blue 100%);
  background: -webkit-linear-gradient(top, $dark-grey-blue 0%, $dark-black-blue 100%);
  background: linear-gradient(to bottom, $dark-grey-blue 0%, $dark-black-blue 100%);  
  border-bottom: 1.5px solid $dark-grey-blue; 
  -webkit-box-shadow: 0px 3px 5px 0px rgba(37,37,38,0.4);
  -moz-box-shadow: 0px 3px 5px 0px rgba(37,37,38,0.4);
  box-shadow: 0px 3px 5px 0px rgba(37,37,38,0.4); 
  max-width: 100%;
  position: fixed;
  -webkit-transform: translateY(-400%);
          transform: translateY(-400%);
  transition-timing-function: ease-in;
  transition: 0.5s;
  z-index: 2;
}

.activeMenu {
  background: $dark-grey-blue;
  background: -moz-linear-gradient(top, $dark-grey-blue 0%, $dark-black-blue 100%);
  background: -webkit-linear-gradient(top, $dark-grey-blue 0%, $dark-black-blue 100%);
  background: linear-gradient(to bottom, $dark-grey-blue 0%, $dark-black-blue 100%); 
  border-bottom: 1.5px solid $dark-grey-blue;  
  -webkit-box-shadow: 0px 3px 5px 0px rgba(37,37,38,0.4);
  -moz-box-shadow: 0px 3px 5px 0px rgba(37,37,38,0.4);
  box-shadow: 0px 3px 5px 0px rgba(37,37,38,0.4);
  position: fixed;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  transition-timing-function: ease-out;
  transition: 0.5s;
  width: 100%;
  z-index: 2;
}

@media only screen and (min-width: 767px) {
  .hiddenMenu { display: none; } 
  .activeMenu  { display: none; }
}

.mobile-flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 15px 0 15px;
}

.mobile-flex-item:nth-child(1), .mobile-flex-item:nth-child(2), 
.mobile-flex-item:nth-child(3), .mobile-flex-item:nth-child(4),
.mobile-flex-item:nth-child(5), .mobile-flex-item:nth-child(6) {
  flex-basis: auto;
  flex-grow: 1;
  height: auto;
  margin: 5px;
  padding: 5px;
  text-align: center;
  width: 90px;
}


@media only screen and (max-width: 650px) {
.mobile-flex-item:nth-child(1), .mobile-flex-item:nth-child(2), 
.mobile-flex-item:nth-child(3), .mobile-flex-item:nth-child(4),
.mobile-flex-item:nth-child(5), .mobile-flex-item:nth-child(6) {
  width: 70px;
 }	
}

@media only screen and (max-width: 610px) {
.mobile-flex-item:nth-child(1), .mobile-flex-item:nth-child(2), 
.mobile-flex-item:nth-child(3), .mobile-flex-item:nth-child(4),
.mobile-flex-item:nth-child(5), .mobile-flex-item:nth-child(6) {
  width: 150px;
 }	
}

@media only screen and (max-width: 510px) {
.mobile-flex-item:nth-child(1), .mobile-flex-item:nth-child(2), 
.mobile-flex-item:nth-child(3), .mobile-flex-item:nth-child(4),
.mobile-flex-item:nth-child(5), .mobile-flex-item:nth-child(6) {
  width: 120px;
 }	
}

@media only screen and (max-width: 430px) {
.mobile-flex-item:nth-child(1), .mobile-flex-item:nth-child(2), 
.mobile-flex-item:nth-child(3), .mobile-flex-item:nth-child(4),
.mobile-flex-item:nth-child(5), .mobile-flex-item:nth-child(6) {
  width: 90px;
 }	
}

p.white-link {
  color: $white;
  letter-spacing: 1px;
  text-decoration: none;
  text-size: 1.1rem; 
}