@use "../utilities/variables";

.code-btn, .modal-btn, .submit-btn {
  background-image: linear-gradient(180deg, variables.$bright-pink 0%, variables.$dark-pink 100%);
  border: 0 solid transparent;
  border-radius: 4px;	
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  color: variables.$white;
  display: inline-block;
  font-family: variables.$title-font;
  font-weight: variables.$bold-font-weight;
  letter-spacing: 1.21px;	    
  text-align: center;
  text-decoration: none;    
  vertical-align: middle;	
}

.code-btn   { font-size: 20px; padding: 3px 15px 1px 10px; }
.modal-btn  { font-size: 27px; padding: 6px 17px 4px 14px; }
.submit-btn { font-size: 27px; padding: 6px 24px 4px 14px; float: right; }


.code-btn:hover, .code-btn:focus, .code-btn:active,
.modal-btn:hover, .modal-btn:focus, .modal-btn:active, 
.submit-btn:hover, .submit-btn:focus, .submit-btn:active {
  background-image: linear-gradient(0deg, variables.$medium-pink 0%, variables.$light-pink 100%);
  color: variables.$super-white;
  cursor: pointer;
  text-decoration: none;
}

.code-btn:after, .modal-btn:after, .submit-btn:after {
  background-size: 100% 100%;	
  content:  "\0000a0";
  display: inline-block;
  height: 32px;
  left: 9px;
  line-height: 32px;
  position: relative;
  top: 0;    
  width: 32px;
}

.modal-btn:after  { background: url("../images/icons/modal-window-icon.svg") no-repeat left center transparent; }
.submit-btn:after { background: url("../images/icons/next.svg") no-repeat left center transparent; margin: 0 -10px 0 0; }
.code-btn:after   { background: url("../images/icons/code-sm.svg") no-repeat left center transparent; width: 38px; }