//-- Private variables --//
$body-font:  'Nunito', sans-serif;
$light-grey-grey:	#636367;
$super-light-grey:	#56565a;
$light-pale-grey:   #7c7c81;
$white:   		 	#f2f2f2;
$medium-pink:		#ff3366;
//----------------------//


#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  font: 400 1.8rem/23px $body-font, sans-serif;
}

#contact {
  background-image: linear-gradient(-180deg, $light-grey-grey 0%, $super-light-grey 100%);
  border-radius: 4px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  margin: 0 0 20px 0;
  padding: 20px;
}

fieldset {
  border: medium none;
  padding: 0;
  margin: 0 0 10px;
  min-width: 100%;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"], 
#contact input[type="url"],
#contact textarea {
  background: #4a4a4d;
  border: 1px solid $light-pale-grey;
  color: $white;
  margin: 0 0 5px;
  padding: 10px;
  width: 100%;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact input:focus,
#contact textarea:focus {
  border: 1px solid $medium-pink;
  outline: 0;
}

::-webkit-input-placeholder { color: $white; padding-top: 4px; }
:-moz-placeholder { color: $white; }
::-moz-placeholder { color: $white; }
:-ms-input-placeholder { color: $white; }