@use "../variables";

ol {
  counter-reset: li;
  list-style-type: none;
}

ol li {
  color: variables.$white;
  display: block;
  font-size: 1.7rem;
  letter-spacing: 0.7px;
  line-height: 1.3;
}

ol li:before {
  color: variables.$dark-pink;
  content: counter(li, decimal-leading-zero);
  counter-increment: li;
  font-size: 3rem;
  margin-right: 0.25em;
}

li.black-text {
  color: variables.$dark-black-blue;
}