//================================
//  White Colors
//================================
$super-white:		#ffffff;
$white:   		 	#f2f2f2;
$off-white:			#e5e5e5;
$white-grey:	 	#c5c5c5;

//================================
//  Grey Colors
//================================
$lighter-pale-grey: #89898e;
$light-pale-grey:   #7c7c81;
$light-grey-grey:	#636367;
$super-light-grey:	#56565a;
$light-grey-blue: 	#4a4a4d;
$dark-grey-blue: 	#313133;
$dark-black-blue: 	#252526;

//================================
//  Pink Colors
//================================
$bright-pink:  		#f65ba6;
$light-pink:	 	#ff4d79;
$medium-pink:		#ff3366;
$dark-pink: 		#ea2e6d;

//================================
//  Button Colors
//================================
$top-button:		#ea2e6d;
$bottom-button:		#e8175d;

//================================
//  Fonts
//================================
$title-font:	   	  'Anton', sans-serif;
$bold-font-weight: 	  400;

$body-font:		   	  'Nunito', sans-serif;
$medium-font-weight:  400; 
$regular-font-weight: 300;  