/* Popup Box */

/* The Modal (background) */
.modal {
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.7);	
    display: none; 
    height: 100%; 
    left: 0;
    overflow: auto; 
    position: fixed; 
    top: 0;
    width: 100%; 
    z-index: 8888;  
}

/* Modal Content/Box */
.modal-content {
   	background-image: linear-gradient(-180deg, rgba(86,86,90,0.95) 0%, rgba(99,99,103,0.95) 100%);	
	border: 1px solid $light-pale-grey;
    border-radius: 4px;	
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
    margin: 10vh auto;
    padding: 0 5px 5px 5px;
    width: 94%; 
}

@media (min-width: 1366px) {
  .modal-content {
    background-image: linear-gradient(-180deg, rgba(86,86,90,0.95) 0%, rgba(99,99,103,0.95) 100%);
    border: 1px solid $light-pale-grey;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
    margin: 10vh auto; 
    padding: 0 5px 5px 5px;
    width: 70%; 
  }
}

/* The Close Button */
.closer {
    color: $white;
    display: inline-block;
    float: right;
    font-size: 33px;
    font-weight: bold;
    margin-right: 10px;
}

.closer:hover,
.closer:focus {
    color: $light-pink;
    cursor: pointer;
    text-decoration: none;
}

.modal-title {
	display: inline-block;	
	float: left;
	font-family: $title-font;
	font-size: 2.5rem;
	font-weight: $bold-font-weight;	
	letter-spacing: 1px;
    margin-left: 20px;
	margin-top: 30px;
}