@use "../../variables";

/* ===========================
  Mobile: Toggle Section
============================*/
#toggle {
  cursor: pointer;    
  display: inline-block;
  margin: 0.5rem 0.5rem 0 0;
}

.bar1 {
  background: variables.$light-pink;  
  height: 3px; 
  margin: 8px 0;  
  transition: 0.3s;  
  width: 25px;
}

.bar2 {
  background: variables.$medium-pink;
  height: 3px;
  margin: 8px 0;  
  transition: 0.3s;  
  width: 30px;
}

.bar3 {
  background: variables.$dark-pink;	
  height: 3px;
  margin: 8px 0;
  transition: 0.3s;
  width: 35px;
}

.ham-title {
  color: variables.$white;	
  font-family: variables.$body-font;
  font-size: 1.35rem;
  font-weight: variables.$regular-font-weight;
  letter-spacing: 1px;
  margin-top: -5px;      
}

.change .bar1 {
  background: variables.$dark-pink;
  background: -moz-linear-gradient(left, variables.$dark-pink 20%, variables.$white-grey 80%);
  background: -webkit-linear-gradient(left, variables.$dark-pink 20%, variables.$white-grey 80%);
  background: linear-gradient(to right, variables.$dark-pink 20%, variables.$white-grey 80%);
  transform: rotate(-45deg) translate(-9px, 6px);
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  width: 35px;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  background: variables.$white-grey;
  background: -moz-linear-gradient(left, variables.$white-grey 20%, variables.$dark-pink 80%);
  background: -webkit-linear-gradient(left, variables.$white-grey 20%, variables.$dark-pink 80%);
  background: linear-gradient(to right, variables.$white-grey 20%, variables.$dark-pink 80%);
  transform: rotate(45deg) translate(-8px, -8px);
  -webkit-transform: rotate(45deg) translate(-8px, -8px);   
}
